.container {
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.userbot_text {
    color: #44a5fa;
}