.main {
    margin: auto;
    background: #f2f8fd;
    padding-top: 105px;
    padding-bottom: 60px;
position: relative;
}

.userbot_text {
    color: #44a5fa;
}

.card {

    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5.2);
    transition: 0.3s;
    border-radius: 10px;
    margin-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(82, 104, 154);
}
.img_chat {
    max-width: 100%;
    height: auto;
}