.main {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
}



.navLink {
    transition: color 0.3s ease;
}

.navLink:hover {
    color: red;
}

