.footer {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #52689a;
    color: #fff;
    padding: 60px 0;


}

.footer h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
}

.footer p {
    font-size: 14px;
    line-height: 24px;

}

.social-icons li {

    display: inline-block;
    margin-right: 10px;



}

.social-icons {

    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

.social-icons Li a {
    color: #fff;
    font-size: 24px;
    display: block;

    text-decoration: none;
}

.footer-bottom {
    background-color: #222;
    color: #ccc;
    padding: 10px 0;
    margin-top: 25px;
}

.footer-bottom p {
    font-size: 12px;
    margin-bottom: 0;

}
a {
    color: white;
}
